.container-fluid h1 {
    font-size: 50px;
}

.row {
    margin-top: 3%;
}

.col-sm-6 {
    margin-left: 3%;
    margin-right: 20px;
    background-color: #edf0f4;
    border: solid lightsteelblue;
    border-width: thin;
    border-radius: 5px;
}

.col-sm-5 {
    margin-right: 3%;
    background-color: #edf0f4;
    border: solid lightsteelblue;
    border-width: thin;
    border-radius: 5px;
}

.hist_grades {
    padding: 40px;
}

.lower_grades {
    padding: 40px;
}

.row h4 {
    color: #c40000;
    font-weight: bold;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 35px;
}

.row p {
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 25px;
}